html {
  color: #000;
  background: #FFF
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0
}
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}


table {
  border-collapse: collapse;
  border-spacing: 0
}
fieldset,
img {
  border: 0
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal
}
ol,
ul {
  list-style: none
}
caption,
th {
  text-align: left
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal
}
a{
  text-decoration: none;
}
.cl{
  *zoom:1;
}
.cl:after{
  content: ".";
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
}
.fl{float:left}
.rg{float:right}

a{
  color: #222;
  font-size: 16px;
}
#nav{
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0 10px 0;
  border-bottom:4px solid #dedede;
  position: relative;
}
#nav li{
  float: left;
  width: 65px;
  text-align: center;
  border-right: 1px solid #f5f5f5;
}
#nav em{
  display: block;
  height: 4px;
  background: #08c;
  width: 66px;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: .5s ease all;
}